.button {
  background: $blue;
  border: none;
  color: white;
  font-weight: 300;
  font-size: $font-size-large;
  padding: $s-size;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button--rounded {
  border-radius: 3px;
}

.link-center-text {
  text-align: center;
}

.button--full-width {
  width: 100%;
}

.button--half-width {
  width: 50%;
}

.button-green {
  background-color: $green;
}

.button-red {
  background-color: $red;
}

.button--link {
  background: none;
}

.button-secondary {
  background: $grey;
}