.card .crop{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.card-text .waifuId {
    font-size: 80%;
}

.list-group{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    box-shadow: none;
}

.card-text:last-child {
    margin-bottom: 0;
    margin-top: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.card {
    font-family: 'Source Sans Pro';
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.4);
    border-radius: 0;
    margin: auto;
    margin-bottom: 20px;
    width: 250px;
}

.card-text .waifuId{
    font-size: 80%;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-body--title {
    padding: 10px 1.25rem 0px 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}

.card-body--id {
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 10px;
}

.card-title {
    margin-bottom: .75rem;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}